@import "tailwindcss";

@theme {
  --default-font-family: 'Montserrat', 'sans-serif';
  --color-default-grey: #EBEBEB;
  --color-default-blue: var(--color-sky-700);
}

@custom-variant dark (&:where(.dark, .dark *));


body {
  @apply h-max bg-zinc-50 dark:bg-zinc-900 antialiased flex;
}

/* UTILITIES */
.dark {
  color-scheme: dark;
}

.column {
  @apply flex flex-col;
}

.underline-text {
  @apply underline decoration-1 hover:font-medium;
}

/* NAVBAR */
.nav-bar {
  @apply flex items-center justify-center w-full h-12 px-8 text-black dark:text-zinc-100 select-none;
}

.nav-link {
  @apply w-32 text-center text-base hover:font-semibold hover:border-b-4 hover:border-b-default-blue;
}

/* SIDEBAR */
.sidebar {
  @apply w-3xs bg-white dark:bg-zinc-800 flex flex-col items-center relative transform transition-all duration-300 select-none py-7 [&.collapsed]:w-13 [&.collapsed]:py-0;
}

.sidebar-buttons {
  @apply mt-16 group-[.collapsed]:mt-4 flex flex-col items-center gap-4 w-[80%];
}

.sidebar-button {
  @apply inline-flex justify-center items-center gap-1 font-semibold w-full group-[.collapsed]:w-10 group-[.collapsed]:border-0 py-1.5 rounded-lg hover:bg-default-blue/70 [.active]:bg-default-blue/70 [.active]:text-white hover:text-white dark:text-zinc-100 transition-colors;
}

.sidebar-icon {
  @apply size-4;
}

.sidebar-text {
  @apply text-base group-[.collapsed]:hidden;
}

/* HEADER */
.header-bar {
  @apply bg-white w-full h-20 flex items-center justify-between px-8 select-none dark:bg-zinc-800;
}

.header-logo {
  @apply size-11 pointer-events-none;
}

.search-container {
  @apply w-80 h-11 inline-flex bg-default-grey dark:bg-neutral-700 rounded-2xl px-4 justify-center items-center gap-1;
}

.search-input {
  @apply flex-1 outline-none text-black dark:text-zinc-100;
}

.search-icon {
  @apply size-6 transition-all hover:scale-110 hover:cursor-pointer text-black dark:text-zinc-100;
}

.theme-toggle {
  @apply w-24 h-11 inline-flex bg-default-grey dark:bg-neutral-700 rounded-2xl px-4 items-center justify-between;
}

.theme-icon {
  @apply size-6 cursor-pointer transition text-zinc-900 dark:text-zinc-100;
}

.theme-icon-light {
  @apply hover:text-yellow-500;
}

.theme-icon-dark {
  @apply hover:text-indigo-600 hover:dark:text-indigo-500;
}

/* ODS GRID */
.ods-list-grid {
  @apply grid grid-cols-6 grid-rows-3 mt-8 mb-16 mx-auto w-fit;
}

.ods-card {
  @apply size-40 transition hover:scale-105 hover:cursor-pointer;
}

/* FOOTER */
.footer-container {
  @apply mt-8 w-full h-64 bg-default-grey dark:bg-zinc-800 text-black dark:text-zinc-100 flex items-center justify-center gap-16;
}