@import "tailwindcss";

@theme {
  --default-font-family: 'Montserrat', 'sans-serif';
  --color-default-grey: #EBEBEB;
  --color-default-blue: var(--color-sky-700);
  --ods-icon-size: 36rem;
  --ods-chart-width: 36rem;
  --ods-chart-height: 38rem;
}

@custom-variant dark (&:where(.dark, .dark *));

.ods-container {
  @apply mt-16 flex flex-col justify-center px-16 w-full gap-16;
}

.ods-data-card {
  @apply flex justify-center gap-32;
}

.ods-icon {
  @apply size-(--ods-icon-size) my-auto;
}

.ods-title {
  @apply text-4xl font-bold text-center;
}

.ods-heading, .ods-chart-title {
  @apply text-3xl font-bold text-center;
}

.ods-description {
  @apply space-y-2;
}

.ods-goals {
  @apply mt-8 space-y-4;
}

.ods-goal-container {
  @apply inline-flex gap-2 justify-center w-full;
}

.ods-goal-title {
  @apply text-xl font-semibold;
}

.ods-goal-content {
  @apply text-lg;
}

.ods-chart-container {
  @apply flex justify-between gap-8;
}

.ods-chart-frame {
  @apply w-(--ods-chart-width) h-(--ods-chart-height) border-0;
}

.ods-chart-details {
  @apply flex flex-col flex-1 justify-center gap-4;
}

.ods-chart-subtitle {
  @apply text-2xl font-semibold text-center;
}